*.pdf

# Artefatos de compilacao
*.exe
*.out
*.o
*.obj
*.dll
*.so
*.a
*.ilk
*.pdb
*.elf

# Executaveis sem extensao (nomes comuns de saida do GCC)
*/main
*/app
*/programa
*/trabalho_cg
*/projetocg
*/cola
*/bm
*/bmh
*/buscabinaria
*/buscasequencial
*/forcabruta
*/kmp

# Ignorar pastas de compilação ou do VS Code
.vscode/
build/